@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Montserrat to all headings */
@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
  }
}

/* Custom animation for fading in elements */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}